/src/lib/org/apache/commons/math3/exception/
/src/lib/org/apache/commons/math3/
/src/lib/de/congrace/exp4j/
/nbproject
/classes
/build
/tmp
/EcuacionesNoLineales.jcu
/EcuacionesNoLineales.jcw
/src_ecuacionesnolineales.txt
/build.xml
/EcuacionesNoLineales.jcp
/dist/
/MetodosNumericos2.jcw
/MetodosNumericos.jcp
/MetodosNumericos.jcu
/MetodosNumericos.jcw
/MetodosNumericos2.jcu
/src_metodosnumericos.txt
